<div id="menuContainer" class="clearfix">
    <p class="menuBg"></p>
    <div class="container">
        <ul class="mainMenu hidden-tablet">
            <li class="visible-desktop"><a href="about.html">About</a></li>
            <li class="hidden-desktop">
              <a class="hidden-phone" target="_blank" href="https://postmates.com/merchant/spitz-518-east-hennepin-avenue">Order <span class="addTxt">Order Yummy Spitz Online!</span></a>
              <a class="visible-phone" target="_blank" href="https://postmates.com/merchant/spitz-518-east-hennepin-avenue">Order Online</a>
                <ul>
                 <!--    <li><a href="http://eat24hrs.com/restaurants/16728" target="_blank">Little Tokyo</a></li>
                 <li><a href="http://eat24hrs.com/restaurants/19444" target="_blank">Los Feliz</a></li>
                 <li><a href="http://eat24hrs.com/restaurants/16727" target="_blank">Eagle Rock</a></li>
                 <li><a href="http://eat24hrs.com/restaurants/27444" target="_blank">Studio City</a></li> -->
                </ul>
            </li>
            
           <li class="subMenu"><a href="#">Menus/Catering<span class="addTxt hidden-phone">Our Real Tasty Food</span></a>
               <ul>
                   <li><a target="_blank" href="menus/lunch-dinner.pdf">Lunch/Dinner</a></li>
                   <!-- <li><a target="_blank" href="menus/brunch.pdf">Brunch</a></li> -->
                   <li><a target="_blank" href="menus/catering.pdf">Catering</a></li>
                   <li><a href="beers-on-tap.html">Beers On Tap</a></li>
                   <li><a target="_blank" href="menus/cocktails.pdf">Cocktails</a></li>
                   <li><a target="_blank" href="menus/happyhour.pdf">Happy Hour</a></li>
               </ul>
           </li>
            <li class="subMenu"><a href="#">Locations<span class="addTxt hidden-phone">Find Your Favorite Spitz</span></a>
                <ul>
                    <li><a href="minneapolis.html">Minneapolis</a></li>
                    <li><a href="//spitzslc.com" target="_blank">Salt Lake City</a></li>
                    <li><a href="//eatatspitz.com" target="_blank">Los Angeles</a></li>
                    <li><a href="//spitzpdx.com" target="_blank">Portland</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact<span class="addTxt hidden-phone">Get & Stay in Contact</span></a></li>
        </ul>

        <ul class="mainMenu tablet visible-tablet">
            <li class="order-link">
              <a  target="_blank" href="https://postmates.com/merchant/spitz-518-east-hennepin-avenue">Order <span class="addTxt">Order Yummy Spitz Online!</span></a>
                <ul>
                   <!--  <li><a href="http://eat24hrs.com/restaurants/16728" target="_blank">Little Tokyo</a></li>
                   <li><a href="http://eat24hrs.com/restaurants/19444" target="_blank">Los Feliz</a></li>
                   <li><a href="http://eat24hrs.com/restaurants/16727" target="_blank">Eagle Rock</a></li>
                   <li><a href="http://eat24hrs.com/restaurants/27444" target="_blank">Studio City</a></li> -->
                </ul>
            </li>
          <div class="flexy">
           <li class="subMenu"><a href="#">Menus/Catering<span class="addTxt hidden-phone">Our Real Tasty Food</span></a>
               <ul>
                   <li><a target="_blank" href="menus/lunch-dinner.pdf">Lunch/Dinner</a></li>
                   <!-- <li><a target="_blank" href="menus/brunch.pdf">Brunch</a></li> -->
                   <li><a target="_blank" href="menus/catering.pdf">Catering</a></li>
                   <li><a href="beers-on-tap.html">Beers On Tap</a></li>
                   <li><a target="_blank" href="menus/cocktails.pdf">Cocktails</a></li>
                   <li><a target="_blank" href="menus/happyhour.pdf">Happy Hour</a></li>
                   <!-- <li><a target="_blank" href="menus/beerandwine.pdf">Beer & Wine</a></li> -->
                   
               </ul>
           </li>
            <li class="subMenu"><a href="#">Locations<span class="addTxt hidden-phone">Find Your Favorite Spitz</span></a>
                <ul>
                    <li><a href="studiocity.html">Minneapolis</a></li>
                    <li><a href="//spitzslc.com" target="_blank">Salt Lake City</a></li>
                    <li><a href="//eatatspitz.com" target="_blank">Los Angeles</a></li>
                    <li><a href="//spitzpdx.com" target="_blank">Portland</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact<span class="addTxt hidden-phone">Get & Stay in Contact</span></a></li>
            </div>
        </ul>

        <div class="order hidden-phone hidden-tablet">
          <div class="top"></div>

          <ul>
            <li class=""><a class="order" target="_blank" href="https://postmates.com/merchant/spitz-518-east-hennepin-avenue">Order Online</a>
              <ul>
              <!--   <li><a href="http://eat24hrs.com/restaurants/16728">Little Tokyo</a></li>
              <li><a href="http://eat24hrs.com/restaurants/19444">Los Feliz</a></li>
              <li><a href="http://eat24hrs.com/restaurants/16727">Eagle Rock</a></li>
              <li><a href="http://eat24hrs.com/restaurants/27444">Studio City</a></li> -->
              </ul>
            </li>
          </ul>
          <div class="bottom"></div>

               
           <!--  <a href="order.html" class="order" id="bkTable">Order Online</a> -->
        </div>
        <div class="clearfix"></div>
    </div>
</div>