<ul class="social-links">
  <li class="subMenu">
    <a href="#"><img src="assets/images/fb_300.png"></a>
    <ul>
      <li><a target="_blank" href="//www.facebook.com/spitzslc">Downtown</a></li>
      <li><a href="//www.facebook.com/spitzsugarhouse" target="_blank">Sugarhouse</a></li>
    </ul>
  </li>
  <li>
    <a href="//twitter.com/spitzslc"><img src="assets/images/twit_300.png"></a>
  </li>
  <li>
    <a href="//instagram.com/spitzslc/" target="_blank"><img src="assets/images/insta_300.png"></a>
  </li>
  <li class="subMenu">
    <a href="#"><img src="assets/images/yelp_300.png"></a>
    <ul>
      <li><a target="_blank" href="//yelp.com/biz/spitz-slc-salt-lake-city">Downtown</a></li>
      <li><a href="//yelp.com/biz/spitz-sugarhouse-salt-lake-city" target="_blank">Sugarhouse</a></li>
    </ul>
  </li>
  <li class="subMenu">
    <a href="#"><img src="assets/images/tripadvisor_300.png"></a>
    <ul>
      <li><a target="_blank" href="//www.tripadvisor.com/Restaurant_Review-g60922-d5113610-Reviews-Spitz_Home_of_the_Doner_Kebab-Salt_Lake_City_Utah.html">Downtown</a></li>
      <li><a href="//www.tripadvisor.com/Restaurant_Review-g60922-d8409804-Reviews-Spitz_Sugarhouse-Salt_Lake_City_Utah.html" target="_blank">Sugarhouse</a></li>
    </ul>
  </li>
</ul>