body {
	width:100%;
	margin:0;
}
.abs {
	position:absolute;
}
#heading {
	margin:auto;
	width:983px;
	height:68px;
	background:url(images/header.jpg);
}
#navbar{
	margin:auto;
	width:983px;
	height:25px;
	background:url(images/navbar1.jpg);
}
#main {
	margin:auto;
	width:983px;
	background:url(images/body.jpg) repeat-y;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}
#main-left_column {
	width:672px;
}
#photo {
	margin:0 0 0 14px;
}
.location {
	width:200px;
	margin:6px;
	display:inline-block;
}
.location a {
	text-decoration:none;
}
.order-btn {
	width:197px;
	height:40px;
	display:inline-block;
	background:url(http://eat24.com/images/lrg_red_2-40.png) no-repeat;
}
.order-btn:hover {
	background:url(http://eat24.com/images/lrg_red_2-40_glow.png) no-repeat;
}
.preload {
	background:url(http://eat24.com/images/lrg_red_2-40_glow.png);
	visibility:hidden;
}
.first {
	margin-left:30px;
}
#footing {
	margin:auto;
	width:983px;
	height:68px;
	background:url(images/footer.jpg);
}