<header id="header">
  <div class="wrapper clearfix">
    <div class="logoContainer visible-tablet visible-desktop text-left f-left">
      <a href="index.html"><img src="{{site.logo_no_words}}" alt="Spitz - Home of the Döner Kebab"></a>
      <h1>Mediterranean Street Food<br/>Craft Beer - Sangria</h1>

    </div>
    <div class="logoContainer visible-phone text-center f-left">
      <a href="index.html"><img src="{{site.logo}}" alt="Spitz - Home of the Döner Kebab"></a>
  <!--     <h1>Mediterranean Street Food<br/>Craft Beer - Sangria</h1> -->

    </div>

    <div class="topData hidden-phone f-right">
      <ul class="social-links">
        <li class="">
          <a href="//www.facebook.com/spitzrestaurants"><img src="assets/images/fb_300.png"></a>
          <!-- <ul>
            <li><a target="_blank" href="https://www.facebook.com/SpitzLittleTokyo">Little Tokyo</a></li>
            <li><a href="https://www.facebook.com/SpitzLosFeliz" target="_blank">Los Feliz</a></li>
            <li><a href="https://www.facebook.com/SpitzEagleRock" target="_blank">Eagle Rock</a></li>
            <li><a href="https://www.facebook.com/SpitzStudioCity" target="_blank">Studio City</a></li>
          </ul> -->
        </li>
        <li class="">
          <a href="https://twitter.com/spitzmn"><img src="assets/images/twit_300.png"></a>
          <!-- <ul>
            <li><a target="_blank" href="http://www.twitter.com/SpitzLitTokyo">Little Tokyo</a></li>
            <li><a href="http://twitter.com/SpitzLosFeliz" target="_blank">Los Feliz</a></li>
            <li><a href="http://twitter.com/SpitzEagleRock" target="_blank">Eagle Rock</a></li>
            <li><a href="http://www.twitter.com/SpitzStudioCity" target="_blank">Studio City</a></li>
          </ul> -->
        </li>
        <li><a href="http://instagram.com/spitzmn" target="_blank"><img src="assets/images/insta_300.png"></a></li>
      </ul>
    </div>
  </div>
</header>
