<header id="header">
  <div class="logoContainer visible-tablet visible-desktop text-left">
    <a href="index.html"><img src="assets/images/logo.png" alt="Spitz - Home of the Döner Kebab"></a>
    <h1>Mediterranean Street Food<br/>Craft Beer - Sangria</h1>

  </div>
  <div class="logoContainer visible-phone text-center">
    <a href="index.html"><img src="assets/images/logo.png" alt="Spitz - Home of the Döner Kebab"></a>
    <h1>Mediterranean Street Food<br/>Craft Beer - Sangria</h1>

  </div>

  <div class="topData hidden-phone">
    {% include social-links-slc.html %}
  </div>
</header>
