<li class="subMenu order-link">
  <a href="#">Order <span class="addTxt">Order Yummy Spitz Online!</span></a>
    <ul>
       <!--  <li><a href="http://eat24hrs.com/restaurants/16728" target="_blank">Little Tokyo</a></li>
        <li><a href="http://eat24hrs.com/restaurants/19444" target="_blank">Los Feliz</a></li>
        <li><a href="http://eat24hrs.com/restaurants/16727" target="_blank">Eagle Rock</a></li>
        <li><a href="http://eat24hrs.com/restaurants/27444" target="_blank">Studio City</a></li> -->
    </ul>
</li>